.message-list {
  grid-area: message-list;
  overflow-y: scroll;
  justify-content: flex-start;
}
.divider-date {
  margin: 0px -1px;
  text-align: center;
  font-weight: bold;
  background-color: lightgray;
  border-radius: 5px;
  color: grey;
}
