.message-input {
  display: flex;

  justify-content: space-around;
  align-items: center;
}
.message-input form {
  margin-top: 100px;
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.message-input textarea {
  margin: 0 10px;
  width: 50vw;
  height: 80px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.submit-button {
  display:inline-block;
  width: 80px;
  height: 80px;
  font-weight: bold;
  text-align: center;
}
  