.container {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 300px;
  margin: 100px auto;
  border-radius: 10px;
  border-style: solid;
  background-color: silver;
  align-content: center;
}

.labels {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: large;
  font-weight: bolder;
  margin-left: 5px;
}

.login-input {
  width: 250px;
  margin: 10px;
}

.buttons {
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
}

.button-primary {
  width: 82px;
  height: 30px;
  border-radius: 5px;
}

.button-primary:hover {
  background-color: slategray;
}
.row{
    margin-left: auto;
    margin-right: auto;
}